version: '3.8'
services:
  postgres-db:
    image: postgres:14-alpine
    container_name: saas-store-db
    ports:
      - "5432:5432"
    env_file:
      - ./server/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data:
